{sub_dirs, ["rel"]}.

{deps_dir, ["deps"]}.
{erl_opts, [debug_info]}.

%% What dependancies we have, depandencies can be of 3 forms, an application
%% name as an atom, eg. mochiweb, a name and a version (from the .app file), or
%% an application name, a version and the SCM details on how to fetch it (SCM
%% type, location and revision). Rebar currently support git, hg, bzr and svn.
%% {deps, 
%%  [
%% {riak_kv, "0.13.0rc7", {hg, "http://bitbucket.org/basho/riak_kv", "riak_kv-0.13.0rc7"}}
%%  {luwak, "1.*", {hg, "http://bitbucket.org/basho/luwak", "93"}}
%%  {log4erl,     ".*", {git, "git://http://github.com/iamaleksey/log4erl", "master"}}
%%  ]}.

%% {lib_dirs,["deps"]}.

{deps, [
 {thrift_erl, "0.5.0", {git, "git://github.com/xslogic/thrift_erl", "HEAD"}} 
]}.
